/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */

  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  padding-bottom: 6rem;
}

a {
  color: var(--color-link);
}

/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header h1 {
  font-size: 4rem;
}


.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  font-size: 1.4rem;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}


.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

.puppy-card {
  margin: 20px;
  position: relative;
}

.puppy-card img {
  height: 200px;
  border-radius: 3px;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
}

.puppy-card:hover img {
  cursor: pointer;
  box-shadow: 0 20px 30px rgba(36,50,66,0.15);
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
}

.card-overlay {
  position: absolute;
  border-radius: 3px;
  top: -2px;
  width: 100%;
  height: 200px;
  opacity: 0;
  background-color: rgba(25,29,38,.85);
  cursor: pointer;
  text-align: center;
  transition: opacity .2s ease;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
}

.puppy-card:hover .card-overlay {
  opacity: 1;
}

.card-overlay img {
  width: 60px;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.puppy-card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}


.pagination-container {
  display: flex;
  justify-content: center;
  margin: 0px 0 40px;
}

.pagination {
  display: flex;
  border: 1px solid #CBD0D8;
  border-radius: 3px;
}

.pagination a {
  color: #7c7c7c;
  float: left;
  padding: 6px 14px;
  text-decoration: none;
  border-right: 1px solid #CBD0D8;
  font-size: 1.6rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}

.pagination .pagination-pages a.pagination-page:last-child {
  border-right: 1px solid #CBD0D8;
}

.pagination a:last-child {
  border-right: none;
}

.pagination a.pagination-page.page-active {
  background-color: #009aff;
  color: #fff;
}

.pagination a.page-active:hover {
  color: #fff;
}

.pagination a:hover{
  color: #009aff;
  text-decoration: none;
}


.modal-window {
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .3s;
}

.modal-window .modal-window-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.78);
  position: absolute;
  top: 0;
  left: 0;
}

.modal-window .image-container {
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius: 3px;
}

.image-container svg {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 99;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
  border-radius: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.site-footer p {
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1;
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;

  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;

  animation-duration:0.5s;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
}
